:root {
    //--color-light: #74c044;
    --color-dark: #2cd367;
    --color-dark-grey: #28292d;
    --color-black: #131515;
    --color-white: #FFFAFB;
}


body {
    font-size: 16px;
    line-height: 1.8;
    scroll-behavior: smooth;
    background-color: var(--color-dark-grey);
    color: var(--color-dark)
}

a {
    text-decoration: none;
    color: var(--color-dark);
    transition: all 0.1s ease-in;

    &:hover {
        color: var(--color-white);

        h2 {
            transition: all 0.1s ease-in;
            color: var(--color-dark);
        }
    }


}

h2 {
    color: var(--color-white);
}

.base-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px var(--color-white) solid;
    position: fixed;
    top: 0; 
    left: 0;
    overflow-x: hidden; 
  

    .introduction {
        width: 400px;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            border-radius: 50%;
            width: 300px;
        }

        .description {
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
        }

    }

    .socials {}
}

.content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;

    .nav-bar {
        .nav-tabs .nav-link {
            border: none;
            background-color: transparent;
            color: var(--color-white);
            font-weight: 500;
            &.active {
                border-bottom: 3px var(--color-dark) solid
            }
        }
    }

    .blog {}

    .portfolio {}

    .links {}

    .imprint {}
}

.footer {
    margin-top: auto;
    margin-bottom: 2rem;
}


.blog {
    &__summary {
        padding: 24px;
        border-bottom: 1px var(--color-white) solid;
    }
}