:root {
    --color-light: #74c044;
    --color-dark: #2cd367;
    --color-dark-grey: #28292d;
    --color-black: #131515;
    --color-white: #FFFAFB;
}


body {
    font-size: 16px;
    line-height: 1.8;
    scroll-behavior: smooth;
    background-color: var(--color-dark-grey);
    color: var(--color-dark)
}

a {
    text-decoration: none;
    color: var(--color-dark);
    transition: all 0.1s ease-in;

    &:hover {
        color: var(--color-white);

        h2 {
            transition: all 0.1s ease-in;
            color: var(--color-dark);
        }
    }


}

h1,
h2 {
    color: var(--color-white);

    &.pseudo-h1 {
        font-size: 2.5rem;
    }


}

.base-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px var(--color-white) solid;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;

    @media (max-width: 767px) {
        display: none;
    }

    .introduction {
        max-width: 400px;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            border-radius: 50%;
            max-width: 300px;

            @media (max-width: 1199px) {
                max-width: 200px;
            }
        }

        .description {
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;

            h2 {
                white-space: nowrap;

                &#typed {
                    min-height: 80px;
                    white-space: break-spaces;
                }

            }
        }

        @media (max-width: 1199px) {
            h2 {
                font-size: 2rem;
            }
        }

    }

    .socials {
        display: flex;
        flex-direction: row;
        margin-top: 1em;

        li {
            margin-right: 1em;
            list-style: none;
        }
    }

}

.content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;

    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
    }


    .nav-bar {
        .nav-tabs .nav-link {
            border: none;
            background-color: transparent;
            color: var(--color-white);
            font-weight: 500;

            &.active {
                border-bottom: 3px var(--color-dark) solid
            }
        }
    }

    .about {
        padding: 24px;

        @media (max-width: 575px) {
            padding: 16px;
        }

        .socials {
            display: flex;
            flex-direction: row;
            margin-top: 1em;

            li {
                margin-right: 1em;
                list-style: none;
            }
        }
    }

    .portfolio {}

    .links {}

    .imprint {}
}

.footer {
    margin-top: auto;
    margin-bottom: 2rem;
}


.blog {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    padding: 24px;

    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
    }

    @media (max-width: 575px) {
        padding: 16px;
    }

    h1 {
        margin-top: 0.5em;
    }

    img {
        max-width: 80%;

        @media (max-width: 991px) {
            max-width: 100%;
        }
    }

    &__summary {
        padding: 24px;
        border-bottom: 1px var(--color-white) solid;

        p {
            margin-top: 1em;
        }

        @media (max-width: 575px) {
            padding: 16px;
        }
    }

    a {
        color: var(--color-white);

        &:hover {
            color: var(--color-light);
        }
    }
}