<nav class="nav-bar">
  <div class="nav nav-tabs" role="tablist">
    {{ range $.Site.Menus.nav }}
    <button class="nav-link {{ .Params.class }}" aria-controls="{{ .Identifier }}" data-bs-toggle="tab"
      data-bs-target="{{ .URL }}" type="button" role="tab">{{ .Name | emojify }}</button>
    {{ end }}
  </div>
</nav>

<div class="tab-content">
  {{ range $.Site.Menus.nav }}
  <div class="tab-pane fade {{ .Params.class }}" id="{{ .Identifier }}" role="tabpanel"
    aria-labelledby="{{ .Identifier }}">   {{ partial (printf "%s.html" .Identifier) $ }}</div>
  {{ end }}
</div>