<div class="sidebar">
  <div class="introduction">
    <img src="{{ .Site.Params.profilePicture | relURL }}" alt="profile picture" />
    <h2 class="pseudo-h1">
      <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
    </h2>
    <div class="description">
      <h2>{{ .Site.Params.description }}&nbsp;</h2>
      <div id="typed-strings">
        <h3>Software Engineer</h3>
        <p>Cloud Solution Architect</p>
        <p>Feminist</p>
        <p>Slytherin &#128013</p>
    </div>
    <h2 id="typed"></h2>
    <script>
        window.addEventListener('load', function () {
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 70,
                backSpeed: 30,
                fadeOut: false,
                loop: true,
                showCursor: false
            });
        });
    </script>
    </div>
  </div>
  <ul class="socials">
    {{ range $item := .Site.Params.socialIcons }}
    <li>
      <a href="{{ $item.url }}" target="_blank" rel="noopener" aria-label="{{ $item.title }}" title="{{ $item.title }}">
        <i class="{{ $item.icon }}" aria-hidden="true"></i>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ partial "footer.html" . }}
</div>